body {
    display: block;
    margin: 8px;
    background-color: #f7e8a6;
}
h1 {
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 700;
}
h1, p {
    text-align: center;
    font-family: "Times-700";
}
.col-md-auto {
    font-family: "Times-700";  
}