body {
    display: block;
    margin: 8px;
    background-color: #f7e8a6;
}
h1 {
   font-size: 2em;
   font-weight: 700;
   margin-top: 26px;
   margin-bottom: 20px;
}
h1, p {
    text-align: center;
    font-family: "Times";
}
p {
    line-height: 120%;
    margin-bottom: 12px;
}
.col-auto a {
    font-family: "Times";  
    color: #008001;
}
#image {
    margin-top: 28px;
    margin-bottom: 30px;
    border-radius: 10px !important;

}